.btn {
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 13px/24px Poppins;
    letter-spacing: 0px;
    &--primary {
        background: #004E6E 0% 0% no-repeat padding-box;
        border: none;
        color: #FFF;
        &:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
            background-color: #0069d9;
            color: #FFF;
        }
        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        &:hover {
            background-color: #0069d9;
            color: #FFF;
        }
    }
    &--trans {
        font: normal normal normal 13px/24px Poppins;
        color: #4385A7;
        background-color: transparent;
        border-color: transparent;
        &:hover {
            background-color: #0069d9;
            color: #FFF;
        }
    }
    &--light {
        background: #FFF 0% 0% no-repeat padding-box;
        border-color: #FFF;
        box-shadow: 0px 20px 40px #4385A74D;
        text-align: left;
        color: #004E6E;
    }
    &--view {
        text-align: left;
        text-decoration: underline;
        font: normal normal 600 15px/32px Poppins;
        letter-spacing: 0px;
        color: #004E6E;
        text-transform: uppercase;
    }
    &--clear {
        text-decoration: underline;
        font: normal normal 500 12px/24px Poppins;
        color: #FF0606;
        background-color: transparent;
        border-color: transparent;
        padding: 0 0.75rem;
    }
    &--forget {
        text-decoration: underline;
        font: normal normal 500 15px/24px Poppins;
        background-color: transparent;
        border-color: transparent;
        padding: 0 0.75rem;
        color: #004E6E;
    }
    &--grey {
        background-color: #A9A9A9	;
        border-color: #A9A9A9	;
    }
}

.main-btn {
    background: $mainColor;
    border: 1px solid transparent;
    color: #FFF;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 20px;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
    svg {
        margin-right: 8px;
        transition: all 0.25s ease-in-out;
        fill: #FFF;
    }
    &.primary-btn:hover {
        background: #003d56;
    }
    &.danger-btn {
        background: none;
        border-color: $red;
        color: $red;
        svg {
            stroke: $red;
        }
        &:hover {
            background: $red;
            color: #FFF;
            svg {
                stroke: #FFF;
            }
        }
    }
}