.form-group {
    label {
		display: block;
		transition: all .3s;
	}

    .form-control {
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        box-shadow: none;

        &:focus {
            border-color: rgb(128, 189, 255);
        }
        &::placeholder {
            font: normal normal 300 13px/56px Poppins;
            color: #9CCFE6;
        }
    }
	.form-control:placeholder-shown + .form-label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-2rem);
    }
}
