.articles {
    padding: 2rem;
    text-align: center;

    &__title {
        text-align: center;
        font: normal normal 600 20px/56px Poppins;
        letter-spacing: 0px;
        color: #000000;
        text-transform: uppercase;
    }
    &__card {
        padding: 1.5rem;
        border: 1px solid #BFE9FF;
        border-radius: 5px;
        text-align: left;
        font: normal normal normal 12px/32px Poppins;

        span {
            color: #000000;
        }
        p {
            font: normal normal normal 12px/19px Poppins;
            color: #535353;
            margin-bottom: 0;
        }
        .btn--view {
            font: normal normal 500 12px/19px Poppins;
        }
        &--title {
            font: normal normal 600 16px/32px Poppins;
            color: #004E6E;
        }
        &--author {
            color: #4385A7;
        }
        &--category {
            background: #0FCCC0 0% 0% no-repeat padding-box;
            border-radius: 14px;
            padding: 0 1rem;
            width: fit-content;
            margin-bottom: 1.5rem;
            span {
                color: #FFFFFF;
            }
        }
    }  
}

.video__card {
    width: 100%;
    height: 316px;
}

.articles__container {
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;

    .nav {
        display: block;
        border-bottom: none;
        margin-bottom: 1.5rem;

        .nav-item {
            display: inline-block;
        }
        .nav-link {
            transition: all 0.3s;
            font: normal normal 600 13px/32px Poppins;
            color: #000000;
            border: none;

            &.active {
                font: normal normal 600 15px/32px Poppins;
                color: #004E6E;
                text-transform: uppercase;
                border-bottom: 4px solid #004E6E;
            }
        }
    }
}

.articles__wrapper {
    text-align: center;
    padding-bottom: 3rem;

    img {
        width: 100%;
    }
}