.mydsh-wrapper {
  display: flex;
  min-height: 470px;
  .mydash-classes {
    width: 100%;
    .dsh-head-with-btn {
      padding: 20px 20px 0 40px;
      margin-bottom: 0;

      select {
        color: #000;
        font-size: 13px;
        font-weight: 500;
      }
    }
    .no-classes {
      text-align: center;
      h5 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 15px;
        color: $mainColor;
        line-height: 1;
      }
      p {
        font-size: 12px;
        color: #000;
        margin-bottom: 30px;
        line-height: 1;
      }
    }
  }
  .recommended--booking {
    background: #E0F4FF;
    width: 525px;
    flex: 0 0 525px;
    border-radius: 20px 0 0 20px;
    .recommended--booking-tabs {
      border: 0;
      padding: 20px 40px;
      .nav-item {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
      .nav-link {
        border: 0;
        color: #000;
        font-size: 15px;
        font-weight: 600;
        transition: all 0.25s ease-in-out;
        position: relative;
        margin-bottom: 10px;
        background: none;
        &:after {
          content: "";
          width: 40px;
          height: 5px;
          position: absolute;
          background: $mainColor;
          bottom: -10px;
          left: 16px;
          opacity: 0;
          transition: all 0.25s ease-in-out;
        }
        &:hover,
        &.active {
          color: $mainColor;
          svg {
            fill: $mainColor;
          }
        }
        &.active {
          text-transform: uppercase;
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.recommended-students {
  padding: 0 30px 30px;
  .st-item-card {
    background: #FFF;
    border: 1px solid #BFE9FF;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px #BFE9FF;
    .st-card-head {
      display: flex;
      justify-content: space-between;
    }
    .st-info {
      display: flex;
      .st-name {
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        color: $mainColor;
        margin-bottom: 3px;
        display: inline-block;
      }
      .st-gender {
        font-size: 13px;
        color: #000;
        font-style: italic;
        line-height: 1;
        font-weight: 500;
      }
    }
    .st-avatar-box {
      width: 60px;
      height: 60px;
      flex: 0 0 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 15px;
      img {
        width: 100%;
      }
    }
    .st-wants {
      display: flex;
      align-items: center;
      margin: 20px 0 15px;
      & > p {
        font-size: 13px;
        font-weight: 500;
        color: $mainColor;
        margin: 0 15px 0 0;
        white-space: nowrap;
      }
      ul {
        margin: 0;
        .ct-name {
          padding: 3px 10px;
          display: inline-block;
          border: 1px solid #0FCCC0;
          background: rgba(#0FCCC0, 0.15);
          color: $mainColor;
          border-radius: 15px;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
    .st-info-list {
      margin-bottom: 0;
      li {
        width: 100%;
      }
      span {
        font-size: 12px;
        font-weight: 600;
        color: #000;
        &:first-child {
          color: $mainColor;
          margin-right: 5px;
        }
      }
    }
  }
}

.booking-student-card {
  display: flex;
  align-items: center;
  background: #BFE9FF;
  margin-bottom: 1px;
  padding: 13px 16px;
  .st-avatar {
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
    border-radius: 50%;
    margin-right: 17px;
  }
  .st-booking-details {
    color: #000;
    font-size: 13px;
    margin-bottom: 0;
    width: 100%;
    line-height: 24px;
    span {
      font-weight: 600;
      color: $mainColor;
    }
  }
}

.upcoming-classes {
  padding: 0 30px 20px;
  .upc-st-box {
    border: 1px solid #ECF9FF;
    padding: 12px 20px 12px 30px;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .upc-st-info {
      display: flex;
      align-items: center;
      width: 100%;
    }
    .upc-actions {
      white-space: nowrap;
    }
    .st-vector {
      width: 45px;
      height: 45px;
      flex: 0 0 45px;
      border-radius: 50%;
      margin-right: 17px;
    }
    .upc-details {
      & > h5 {
        line-height: 1;
      }
      .st-name{
        font-size: 13px;
        font-weight: 600;
        color: $mainColor;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 7px;
      }
      & > p {
        margin-bottom: 0;
        font-size: 11px;
        font-weight: 500;
        .sc-type {
          font-weight: 600;
          display: inline-block;
          margin-right: 25px;
        }
        .cls-start {
          color: #A5A5A5;
          display: inline-block;
          margin-right: 10px;
        }
        .cls-date {
          font-size: 13px;
          color: $light_green;
          font-weight: 600;
        }
      }
    }

  }
}