.signup {
    
    .modal-content {
        padding: 1.5rem 1rem;

        .modal-header {
            text-align: center;
            display: block;
            border-bottom: none;

            .modal-title {
                display: inline-block;
                font: normal normal 600 14px/24px Poppins;
                color: #000000;
            }
            .close {
                opacity: 1;
                line-height: 0.8;
                color: #004E6E;
            }
        }
    }
    
    .form-wrapper {
        padding: 0rem 3rem;
        text-align: center;

        .btn {
            padding: 0.375rem 2rem;

            &--forget {
                float: right;
                padding: 0.375rem 0rem;
                margin-bottom: 1rem;
                margin-left: 50%;
            }
        }

        .form-group {
            text-align: left;

            label {
                font: normal normal 500 15px/24px Poppins;
            }
            .form-control {
                &::placeholder {
                    font: normal normal 300 13px/56px Poppins;
                    color: #000000;
                }
            }
        }

        .avatars {
            text-align: left;
            margin-bottom: 2rem;

            &__title {
                font: normal normal 500 10px/24px Poppins;
                color: #000000;
            }

            &__group {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &--icon {
                    margin: 0.3rem 0.1rem;
                    padding: 0.1rem;
                    border-radius: 74px;
                    cursor: pointer;
                    width: 64px;
                    height: 64px;
                    border: 2px solid transparent;

                    img {
                        max-width: 100%;
                    }

                    &.selected {
                        border-color: #4385A7;
                    }
                }
            }
        }
    }
}