@import "~bootstrap/scss/bootstrap";
@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";
@import "scss/base/base";
@import "scss/base/typography";
@import "scss/components/button";
@import "scss/components/form";
@import "scss/layout/navigation";
@import "scss/layout/footer";
@import "scss/pages/free-session";
@import "scss/pages/dashboard";
@import "scss/pages/classroom";
<<<<<<< HEAD
@import "scss/pages/homework";
@import "scss/pages/my-dashboard";
=======
@import "scss/pages/schedule";
@import "scss/pages/profile";
>>>>>>> profile
@import "scss/pages/articles";
@import "scss/pages/pricing";
@import "scss/pages/games";
@import "scss/pages/find-teacher";
@import "scss/pages/contact-us";
@import "scss/pages/signup";
@import "scss/pages/home";
