@import "~bootstrap/scss/bootstrap";
@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";
@import "scss/base/typography";
@import "scss/components/button";
@import "scss/components/form";
@import "scss/layout/navigation";
@import "scss/layout/footer";
@import "scss/pages/free-session";
@import "scss/pages/articles";
@import "scss/pages/pricing";
@import "scss/pages/games";
@import "scss/pages/find-teacher";
@import "scss/pages/contact-us";
@import "scss/pages/home";
